body{
 font-family: sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100vw;
}

.header{
    align-self: flex-start;
    padding: 14 px 9px;
    height: 100%;
    width: 100%;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: #e9e6e6;
    color: #000000;
   
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px ;
}

h1 em{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #2b2b2b;
}

.buttons{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: #2b2b2b;
    color:#f5f1f1;
    
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 29px 1px 1px 260px;
}

nav a{
    display: flex;
    padding: 20px 50px 1px 1px;
    color: #ffffff;    
    text-decoration: none;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    
}

.board {
    display: flex;
    flex-direction: column;
    background-color:#e9e6e6;
    height: 100%;
    width: 100%;
}

.imagenatural{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vh;
    width: 100vw;
    justify-content: space-between;
    background: transparent url(/image/banner.jpg) center center repeat;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
    background-color: darkgreen;
}
